!!! 5
%html
  %head
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    %script{:src => "/scripts/script.js"}
    %script{:src => "/scripts/buzz.js"}
  %body
    %button#play Hold this button down
